<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminOperations</servlet-name>
        <servlet-class>servlet.AdminOperations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOperations</servlet-name>
        <url-pattern>/AdminOperations.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewDetails</servlet-name>
        <servlet-class>servlet.ViewDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDetails</servlet-name>
        <url-pattern>/ViewDetails</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>RoomBooking</servlet-name>
        <servlet-class>servlet.RoomBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomBooking</servlet-name>
        <url-pattern>/RoomBooking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
